<h1>Listing rents</h1>

<table>
  <tr>
    <th>Book</th>
    <th>User</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rents.each do |rent| %>
  <tr>
    <td><%= rent.book_id %></td>
    <td><%= rent.user_id %></td>
    <td><%= rent.started_at %></td>
    <td><%= rent.ended_at %></td>
    <td><%= link_to 'Show', rent %></td>
    <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
    <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rent', new_rent_path %>
