<p id="notice"><%= notice %></p>

<p>
  <b>Book:</b>
  <%= @rent.book_id %>
</p>

<p>
  <b>User:</b>
  <%= @rent.user_id %>
</p>

<p>
  <b>Started at:</b>
  <%= @rent.started_at %>
</p>

<p>
  <b>Ended at:</b>
  <%= @rent.ended_at %>
</p>


<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
