<h1>Bookstore!</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Published at</th>
    <th>Search at Twitter</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.summary %></td>
    <td><%= book.published_at %></td>
    <td><%= link_to 'Buscar en Twitter', "https://twitter.com/search?q=#{book.title}&src=typd", target: "_blank" %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
