<h1><%= @title %></h1>

<ul>
<% @books.each do |book| %>
  <li>
    <%= book.title %>
    <%= book.summary %><br />
    <%= book.published_at %><br />
    <%= link_to 'Buscar en Twitter', "https://twitter.com/search?q=#{book.title}&src=typd", target: "_blank" %><br />
    <%= link_to 'Show', book %><br />
    <%= link_to 'Edit', edit_book_path(book) %><br />
    <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %><br />
    </li>
<% end %>
</ul>


<%= link_to 'New Book', new_book_path %>
